header .top-header {
    color: #fff;
    background: #333;
}

header .top-header p {
    margin: 0;
    padding: 0;
    line-height: 30px;
    font-size: 13px;
}

header .top-header .top-left span {
    margin-right: 10px;
}

.top-right {
    position: relative;
}

header .top-header .top-right span {
    margin-left: 15px;
}

header .top-header a {
    color: #fff;
}

header .top-header .top-right span .fa {
    display: inline-block;
    margin-left: 5px;
    color: #b1b1b1;
}

header .main-header {
    padding: 10px 0;
    padding-bottom: 0px;
    border-bottom: 1px solid #ededed;
}

header .main-header .logo {
    float: left;
    width: 200px;
}

header .main-header .top-menu {
    padding: 20px 15px;
    float: left;
    width: calc(100% - 300px);
    padding-left: 28%;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

header .main-header .top-menu ul {
    text-align: center;
}

header .main-header .top-menu ul li {
    display: inline-block;
    position: relative;
}

header .main-header .top-menu ul li.menu-item-1 a {
    color: #055699;
}

header .main-header .top-menu ul li a {
    font-weight: 600;
}

header .main-header .top-menu ul li ul {
    text-align: left;
    position: absolute;
    width: 150px;
    left: 0;
    top: 30px;
    background: #fff;
    display: none;
    z-index: 999;
}

header .main-header .top-menu ul li ul li {
    width: 100%;
    padding: 0;
}

header .main-header .top-menu ul li ul li a {
    text-transform: inherit;
    padding: 10px 12px;
    width: 100%;
    display: inline-block;
}

header .main-header .top-menu ul li a {
    text-transform: uppercase;
    padding: 29px 15px;
}

a:link,
a:visited {
    color: #000;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header .main-header .button-submit a {
    width: 100px;
    float: left;
    border: 1px #055699 solid;
    color: #055699;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    margin-top: 8px;
    transition: all 0.2s ease-in-out;
}

.banner {
    background: url(../image/bnr.jpg) center top no-repeat;
    min-height: 350px;
    background-size: 100%;
    margin-top: 10px;
}

.banner {
    width: 100%;
}

.itop-search {
    width: 100%;
    float: left;
    border-radius: 10px;
    margin: 39px 0;
    background: rgba(255, 255, 255, 0.85);
}

.search-form {
    border: none;
    padding: 10px 0 10px 0;
}

.search-form-title h2 {
    font-size: 33px;
    line-height: 19px;
    text-align: center;
    font-weight: 400;
    color: #055699;
}

.search-form-title h3 {
    background: 0 0;
    padding: 0;
    font-size: 16px;
    line-height: 31px;
    text-align: center;
    color: #055699;
    font-weight: 400;
}

header .main-header .button-submit a:hover {
    transform: scale(1.1);
}

.itop-search-txt {
    width: 100%;
    float: left;
    position: relative;
    margin-right: 15px;
    padding: 0 30px;
}

h5.search-title-sub {
    width: 100%;
    float: left;
    color: #055699;
    font-size: 18px;
    line-height: 40px;
    margin-bottom: 10px;
    font-weight: 600;
}

.itop-search-content {
    width: 100%;
    float: left;
    height: 42px;
    background: #fff;
    box-sizing: border-box;
    webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    border: 2px solid #d6d6d7;
}

.itop-search-key {
    margin-left: 0;
    margin-right: 110px;
    padding: 0 10px;
    box-sizing: border-box;
    border-left: 1px solid #ddd;
    position: relative;
}

.its-key {
    width: 100%;
    height: 38px;
    padding: 0;
    margin: 0;
    border: none;
}

button.its-submit {
    color: #fff;
    height: 42px;
    width: 112px;
    float: right;
    border: none;
    position: absolute;
    right: -2px;
    top: -2px;
    cursor: pointer;
    font-size: 14px;
    padding-left: 6px;
    background: #5488c7;
    opacity: 0.9;
    border-color: #5488c7;
    border-radius: 8px;
}

button.its-submit:hover {
    opacity: 1;
}

.search-key-hot {
    width: 100%;
    float: left;
    color: #055699;
    padding: 2PX 30PX;
}

.search-key-hot span {
    color: #055699;
}

search-key-hot a {
    color: #5488c7;
    margin-right: 5px;
}

.search-key-hot a {
    color: #5488c7;
    margin-right: 5px;
}

.search-form-content {
    padding: 0 30px;
    border-left: 1px solid;
}

select#input {
    background: #fff;
    border: 1px solid #d6d6d6;
    font-size: 14px;
    margin-bottom: 14px;
    box-shadow: none;
    border-radius: 0px;
}

button.submit-form {
    color: #fff;
    height: 38px;
    width: 100%;
    border-radius: 0;
    border: 0;
    background: #5488c7;
}

.title-ve h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    border-bottom: 1px solid #055699;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #333;
}

.content-featured {
    position: relative;
}

.featured .detail-list {
    background: #fff4f1;
    margin-bottom: 10px;
    min-height: 168px;
    border: 1px solid #fff;
}

.img-bds {
    position: relative;
    width: 200px;
    float: left;
    margin-right: 10px;
    overflow: hidden;
}

.img-bds img {
    width: 200px;
    height: 140px;
    object-fit: cover;
    float: left;
    padding: 1px;
    border: 1px solid #ededed;
    margin-right: 10px;
}

.img-bds span {
    display: inline-block;
    pointer-events: none;
    position: absolute;
    background: #f03939;
    color: #fff;
    left: -34px;
    top: -11px;
    padding: 20px 30px 3px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-shadow: 0 1px 5px #000;
}

.detail-list .info-real {
    width: calc(100% - 215px);
    float: left;
}

.info-real h4 a {
    color: #e00;
    font-size: 17px;
    font-weight: 550;
    display: inline-block;
    margin-bottom: 10px;
    line-height: 23px;
}

.detail-list .info-real i.fa {
    float: left;
    margin-right: 10px;
    display: inline-block;
    width: 25px;
    color: #fff;
    height: 25px;
    text-align: center;
    background: #055699;
    line-height: 25px;
    border-radius: 2px;
    font-size: 13px;
}

.detail-list .info-real p {
    line-height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 5px;
}

.info-real h4 {
    margin: 0;
    padding: 0;
}

.info-real strong {
    color: #666;
}

.content {
    background: #F2F2F2;
}

.content .detail-list:hover {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.2);
}

.content .main-content {
    padding-top: 10px;
    background: #fff;
}

.content .main-content .block-reals ul {
    background: #f1f1f1;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden;
    border-bottom: 0px;
    margin-bottom: 15px;
}

.content .main-content .block-reals ul li a.active,
#content .cat-product .block-reals ul li a.active {
    background: #055699;
    color: #fff;
}

.content .main-content .block-reals ul li a,
content .cat-product .block-reals ul li a {
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    border-radius: 0px;
    font-weight: 550;
    color: #333;
    padding: 10px 20px;
}

.content .detail-list img {
    width: 200px;
    height: 140px;
    object-fit: cover;
    float: left;
    padding: 1px;
    border: 1px solid #ededed;
    margin-right: 10px;
}

.main-content .content {
    background: #fff;
}

.main-content .detail-list .info-real h4 a {
    font-size: 17px;
    color: #055699;
    font-weight: 550;
    display: inline-block;
    margin-bottom: 10px;
    line-height: 23px;
}

span.date-right {
    font-weight: 400;
    float: right;
    color: #007961;
}

.list-reals .detail-list {
    border: 1px solid #ededed;
    padding: 10px;
    margin-bottom: 20px;
    background: rgba(241, 241, 241, 0.15);
}

.content .main-content .block-reals .tab-content .tab-pane .more a {
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background: #055699;
    border-radius: 3px;
}

.more {
    text-align: center;
}

footer .content-footer {
    background: #fff url(../image/skyline-bg.png) no-repeat!important;
    padding-top: 150px!important;
    position: relative;
    padding-bottom: 0;
}

footer .content-footer {
    padding-top: 50px;
    background: #202020;
    color: #ededed;
}

footer .content-footer:before {
    width: 100%;
    height: calc(100% - 120px);
    position: absolute;
    border: 0;
    background: #363636;
    display: block;
    left: 0;
    content: '';
    z-index: 0;
    bottom: 0;
}

footer .content-footer h3 {
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    padding-bottom: 15px;
    margin: 0;
    border-bottom: 1px solid #0c0c0c;
}

footer .content-footer .block-content-ft {
    border-top: 1px solid #444;
    padding-top: 15px;
    margin-bottom: 30px;
}

footer .content-footer .info-contact {
    margin-top: 15px;
}

footer .content-footer .info-contact p {
    font-size: 13px;
    margin-bottom: 10px;
}

footer .content-footer .info-contact p span {
    color: #fff;
}

footer .content-footer .info-contact p .fa {
    width: 20px;
    color: #055699;
}

footer .content-footer .info-contact p .fa.fa-envelope-open {
    color: #4caf50;
}

footer .content-footer .info-contact p .fa.fa-phone {
    color: #e91e63;
}

footer .content-footer .info-contact p .fa.fa-globe {
    color: #ffc107;
}

footer {
    background: #fff;
}

footer .content-footer .block-content-ft {
    border-top: 1px solid #444;
    padding-top: 15px;
    margin-bottom: 30px;
}

footer .content-footer .block-content-ft ul li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #444;
}

footer .content-footer .block-content-ft ul li a {
    color: #fff;
}

footer .content-footer .block-content-ft ul li a:hover {
    color: #4caf50;
}

.block-content-ft .form-control {
    margin-bottom: 5px;
    border: 1px solid #b2bac1;
    background: none;
    color: #fff;
    font-size: 14px;
}

.block-content-ft .contact-button {
    padding: 11px 20px;
    border: none;
    display: inline-block;
    border-radius: 30px;
    background: #065699;
    color: #fff;
}

footer .copyright {
    padding: 15px;
    text-align: center;
    background: #333;
    color: #fff;
}

footer .copyright a {
    color: #fff;
}

footer .back-to-top {
    position: fixed;
    bottom: 26px;
    right: 100px;
    display: none;
    cursor: pointer;
    z-index: 99;
}

footer .back-to-top i {
    background: #055699;
    padding: 5px 10px;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}

#content .sidebar .widget {
    margin-bottom: 25px;
    background: #fff;
}

.content .sidebar .widget h3 {
    background: #055699;
    color: #fff;
    text-transform: uppercase;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    overflow: hidden;
    margin-bottom: 20px;
    font-size: 15px;
    margin-top: 0px;
}

.content .sidebar .widget .content-view {
    padding: 5px;
}

.content .sidebar .widget h3 span .fa {
    height: 35px;
    width: 35px;
    background: #FF9800;
    text-align: center;
    line-height: 35px;
    margin-right: 5px;
}

.content .sidebar .widget .content-w ul li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #ededed;
}

.content .sidebar ul li img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    padding: 1px;
    border: 1px solid #ededed;
    float: left;
    margin-right: 5px;
}

.content .sidebar .widget .content-w ul li h4 a {
    color: #055699;
    font-weight: 500;
    line-height: 20px;
}

h4 {}

.content .sidebar .widget a {
    color: #055699;
    font-weight: 550;
    font-size: 13px;
    line-height: 20px;
}

.content .sidebar .widget ul li p {
    margin-top: 5px;
}

.content .sidebar .widget ul li span {
    color: #888;
    font-size: 13px;
}


/* css-for-user */

.content .main-content.child-page,
#content .cat-product.child-page {
    padding: 20px 0;
    background: none;
}

.single-post-news {
    padding: 10px 20px 0;
    background: #fff;
    border: 1px solid #dddfe2;
    border-radius: 3px;
}

.single-post-news .content-single-news h1 {
    font-size: 23px;
    font-family: Roboto;
    font-weight: 700;
    color: #333;
    margin-bottom: 17px;
    line-height: 30px;
}

article.post-content {
    font-size: 16px;
}

article.post-content div {
    margin: 0 0 5px;
    line-height: 1.8;
    font-size: 16px;
}

.formdangnhap {
    margin: 30px auto !important;
    max-width: 450px;
    background: #f7f7f7;
    padding: 30px;
    border: 10px solid #ededed;
}

article.post-content div {
    margin: 0 0 5px;
    line-height: 1.8;
    font-size: 16px;
}

.single-post-news .content-single-news article.post-content p {
    font-size: 14px;
}

article.post-content p {
    margin: 0 0 20px;
    line-height: 1.8;
    font-size: 16px;
}

.formdangnhap label {
    color: #777;
    font-weight: 500;
    margin-top: 10px;
}

p.login-username input,
p.login-password input {
    border: none;
    padding: 10px;
    font-size: 13px !important;
    font-weight: 700 !important;
    background-color: #ffffff;
    border-left: 4px solid #1cbc9c;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    width: 100%;
}

.content .content-single-news h3 {
    font-size: 23px;
    font-family: Roboto;
    font-weight: 500;
    color: #333;
    margin-bottom: 17px;
    line-height: 30px;
}

.single-post-new {
    padding: 10px 20px 0;
    background: #fff;
    border: 1px solid #dddfe2;
    border-radius: 3px;
}

article.post-content a:visited {
    color: #ac0404;
}

p.login-submit input {
    width: 100%;
    background: #1cbc9c;
    box-shadow: none;
    color: #FFF;
    text-decoration: none;
    border: none;
    height: 37px;
    border-radius: 2px;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 15px;
}


/* css-dangki */

.dangkitaikhoan {
    margin: 30px auto !important;
    max-width: 450px;
    background: #f7f7f7;
    padding: 30px;
    border: 10px solid #ededed;
    background-color: white;
}

.dangkitaikhoan .form-group {
    margin-bottom: 20px;
}

label.control-label {
    display: block;
    width: 100%;
    font-weight: 400;
    color: #1dbc9c;
}

.dangkitaikhoan input {
    border: none;
    padding: 10px;
    font-size: 13px !important;
    font-weight: 700 !important;
    background-color: #ffffff;
    border-left: 4px solid #1cbc9c;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    width: 100%;
    border-radius: 0;
}

.dangkitaikhoan button.btn.btn-primary {
    width: 100%;
    background: #1cbc9c;
    box-shadow: none;
    color: #FFF;
    text-decoration: none;
    border: none;
    height: 37px;
    border-radius: 2px;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 15px;
}

.title-single-reals {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ededed;
    position: relative;
}

.title-single-reals h1 {
    font-family: Roboto;
    font-size: 25px;
    margin-bottom: 5px;
    font-weight: 600;
    color: #333;
}

.title-single-reals p {
    margin-top: 23px;
}

.thongtin-phong .utility {
    padding: 10px;
    background: #fff;
    margin-top: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.thongtin-phong .content-text {
    padding: 10px;
    background: #fff;
    margin-top: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.thongtin-phong .utility h3 {
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border-bottom: 1px solid #ededed;
}

.content-info-real .list-info {
    font-size: 16px;
    display: block;
    padding: 10px 0;
}

.content-info-real .list-info .color {
    color: #055699;
}

article.post-content img.infoo {
    display: block;
    margin: 5px auto;
}

article.post-content img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 8;
}

.thongtin-phong .content-text h3 {
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    border-bottom: 1px solid #ededed;
}

li.menu-item-2:hover .sub-menu {
    display: block;
}

.user-top {
    position: absolute;
    background: #585858f0;
    right: 0;
    width: 160px;
    z-index: 999;
    display: none;
}

.user-top ul li {
    padding: 0px 15px;
}

.acc-top ul li .fa {
    margin-right: 7px;
}

.drop-dow {
    margin: 0;
    padding: 0;
    line-height: 30px;
    font-size: 13px;
}

.drop-dow {
    position: relative;
    display: inline-block;
}

.drop-dow:hover .user-top {
    display: block;
}

header .top-header .user-top p {
    margin: 0;
    padding: 0;
    line-height: 30px;
    font-size: 12px;
}

h4.thongbao {
    text-align: center;
    font-weight: 600;
    color: red;
}

article.post-content table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 14px;
    line-height: 2;
    margin: 0 0 20px;
    width: 100%;
}

article.post-content table {
    border-left: 1px solid #777777;
}

article.post-content table thead {
    background: #065699;
    color: #fff;
    border: 1px solid #065699;
}

article.post-content th {
    font-weight: normal !important;
    text-transform: uppercase;
    border: 1px solid #ededed;
}

.item textarea.form-control {
    height: 160px;
}